@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #f5f5f5;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-background);
  color: #f3f4f6;
  font-family: var(--font-sans);
}
